@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html,body,#root {
    height: 100%;
}

* {
    margin:0;
    padding:0;
}

.ReactModal__Content {
    transition: transform 300ms ease-in-out;
    transform: translateY(-200%);
}

.ReactModal__Content--after-open{
    transform: translateY(0);
}

.ReactModal__Content--before-close{
    transform: translateY(-200%);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}